body{
    background-color: #F2EAE2;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 98vh;
    width: 98vw ;
}

.product-image{
    display: block;
    width: 300px;
    height: 450px;
    border-radius: 10px 0 0 10px;
}

.product-image-mob{
    display: none;
}

.card-body{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 600px;
    height: 450px;
}

.card-content{
    box-sizing: border-box;
    height: 450px;
    padding-right: 32px;
    padding-left: 32px;
    border-radius: 0 10px 10px 0;
    background-color: white;
}

.perfume{
    font-family: Montserrat, serif;
    font-size: 12px;
    letter-spacing: 5px;
    color: #6C7289;
    margin-top: 32px;
}

.perfume-name{
    font-family: Fraunces, serif;
    font-weight: bold;
    font-size: 32px;
    line-height: 32px;
    margin-top: 20px;
    color: #1C232B;
}

.perfume-description{
    font-family: Montserrat, serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 23px;
    margin-top: 24px;
    color: #6C7289;
}

.price-container{
    display: flex;
    align-items: center;
    margin-top: 29px;
    height: 32px;
}

.price-new{
    font-family: Fraunces, serif;
    font-weight: bold;
    color: #3D8168;
    font-size: 32px;
}

.price-old{
    font-family: Montserrat, serif;
    font-size: 13px;
    text-decoration: line-through;
    color: #6C7289;
    margin-left: 19px;
}

.buy-button{
    background-color: #3D8168;
    color: #F2EAE2;
    width: 236px;
    height: 48px;
    border-radius: 8px;
    border: none;
    margin-top: 30px;
    font-family: Montserrat, serif;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart-image{
    height: 16px;
    width: 14.39px;
    margin-right: 11.61px;
}

.buy-button:hover{
    background-color: #1A4032;
    cursor: pointer;
}

@media only screen and (max-width: 1000px){
    .card-body{
        box-sizing: border-box;
        width: 343px;
        height: 611px;
        display: flex;
        flex-direction: column;
    }

    .product-image{
        display: none;
    }

    .product-image-mob{
        display: block;
        width: 342px;
        height: 240px;
        border-radius: 10px 10px 0 0;
    }

    .card-content{
        border-radius: 0 0 10px 10px;
        padding-left: 24px;
        padding-right: 24px;
    }

    .perfume{
        margin-top: 24px;
    }

    .perfume-name{
        margin-top: 12px;
    }

    .perfume-description{
        margin-top: 14px;
    }

    .price-container{
        margin-top: 24px;
    }

    .buy-button{
        margin-top: 20px;
        height: 48px;
        width: 295px;
    }
    


}